@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "config/mixins";
.carousel {
  width: 50%;
  margin: 8rem auto;
  display: flex !important;
  align-items: center;
  .slide {
    transform: scale(0.8);
    transition: transform 0.3s;
    img {
      margin: 0 auto;
    }
    &.activeSlide {
      opacity: 1;
      transform: scale(1);
    }
  }
}