$color-enphasis-1: #D65C60;
$color-enphasis-2: #D9292F;
$color-enphasis-3: #B8141A;

$color-primary-1: #0F0B0A;
$color-primary-2: #1A1414;
$color-primary-3: #291E1E;

$color-secondary-1: #FFFFFF;
$color-secondary-2: #F7F3F3;
$color-secondary-3: #CFC9C9;

$font-title: 'Chelsea Market', sans-serif;